#masonry {
    width: 71.5%;
}
#barre {
    width: 4.7%;
    height: 99.2vh;
    background-color: #444444;
    position: fixed;
    z-index: 90000000;
    left: 94.9%;
    display: block !important;
    border-bottom: 4px solid #e4e4e4;
    ul {
        display: initial;
    }
    hr {
    background-color: #B6B6B6;
    color: #B6B6B6;
    border-color: #B6B6B6;
    width: 60%;
    margin-top: 15%;
    }
    .icone-admin {
        // border: 1px solid pink;
        height: 48px;
        // width: 54px;
        width: 100% !important;
        list-style: none;
        cursor: pointer;
        // right: 40px;
        img {
            width: 47%;
            // border: 1px solid blue;
            // margin-top: 10px;
            // margin-left: 13px;
        }
     }
    #door-icon-li {
        #door-icon {
            // margin-left: 15px;
            margin-left: 27%;
        }
    }
    .canvas-icon-li {
        // border-left: 4px solid #14a0cc;
        // // box-sizing: border-box;
        // background-color: #5F5E5E;
        img {
            margin-top: 7px;
        }
        #canvas-icon{
            width: 60%;
            // margin-left: 9px;
            margin-left: 18%;
        }
    }
    .pen-icon-li {
        margin-top: 10px;
        border-left: 4px solid #14a0cc;
        // box-sizing: border-box;
        background-color: #5F5E5E;
        #pen-icon {
            width: 40%;
            // margin-left: 17px;
            margin-left: 30%;
            margin-top: 13px;
        }
    }
    #letter-icon-li {
        margin-top: 10px;
        #letter-icon {
            // margin-left: 16px;
            margin-left: 27%;
        }
    }
    #users-icon-li {
        margin-top: 0px;
        #letter-icon {
            // margin-left: 16px;
            margin-left: 27%;
        }
    }
    #plus-icon-li {
        // border: 1px solid pink;
        img {
            width: 50%;
            margin-left: 25%;
            margin-top: 15%;
        }
    }

    // right: 0;
}

.articleAction {
    a {
        text-decoration: none;
    }
    .supprArticle {
        margin-left: 20px;
    }
}
