body {
    color: #727374;
}
#barre {
    width: 4.7%;
    min-width: 4.7% !important;
    height: 99.2vh;
    background-color: #444444;
    position: fixed;
    left: 94.9%;
    display: block !important;
    border-bottom: 4px solid #e4e4e4;
    ul {
        display: initial;
    }
    hr {
    background-color: #B6B6B6;
    color: #B6B6B6;
    border-color: #B6B6B6;
    width: 60%;
    margin-top: 15%;
    }
    .icone-admin {
        // border: 1px solid pink;
        height: 48px;
        // width: 54px;
        width: 100% !important;
        list-style: none;
        cursor: pointer;
        // right: 40px;
        img {
            width: 47%;
            // border: 1px solid blue;
            // margin-top: 10px;
            // margin-left: 13px;
        }
     }
    #door-icon-li {
        #door-icon {
            margin-left: 27%;
        }
    }
    .canvas-icon-li {
        img {
            margin-top: 7px;
        }
        #canvas-icon{
            width: 60%;
            margin-left: 18%;
        }
    }
    .pen-icon-li {
        margin-top: 10px;
        #pen-icon {
            width: 40%;
            margin-left: 30%;
            margin-top: 10px;
        }
    }
    #letter-icon-li {
        margin-top: 10px;
        border-left: 4px solid #14a0cc;
        background-color: #5F5E5E;
        #letter-icon {
            margin-left: 27%;
            margin-top: 10px;
        }
    }
    #users-icon-li {
        margin-top: 20px;
        #letter-icon {
            // margin-left: 16px;
            margin-left: 27%;
        }
    }
    #plus-icon-li {
        img {
            width: 50%;
            margin-left: 25%;
            margin-top: 15%;
        }
    }
}

div#messageContainer {
    width: 94.3%;
    div.messageBlock {
        border: 1px solid darken(#eee, 10%);
        background-color: white;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 7px;
        .courriel {
            font-weight: bold;
        }
        .separator {
            margin-right: 5px;
            margin-left: 5px;
        }
        .date {
            // margin-left: 10px;
        }
        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        p {
            margin: 0 0 3px;
        }
        .supprimer {
            display: inline-block;
            margin-bottom: 7px;
            a {
                text-decoration: none;
            }
        }
    }
    .no-message {
        font-size: 1.8em;
        height: 100%;
        width: 100%;
        // border: 1px solid blue;
        padding-top: 40vh;
    }
}
