@import "var";


@font-face {
    font-family: brushsci;
    src: url(../fonts/brushsci.ttf);
}

body {
    #top {
        // border: 5px solid $lightgray;
        // border: 5px solid $lightgray;
        position: fixed;
        left: 0;
        top: 0;
        display: block;
        z-index: 30000;
        height: 5px;
        width: 100vw;
        background-color: $lightgray;
    }
    #bottom {
        position: fixed;
        left: 0;
        top: 99.3vh;
        background-color: $lightgray;
        z-index: 3000;
        height: 5px;
        width: 100vw;
    }
    font-family: 'Lato', sans-serif;
    background-color: $lightgray;
    padding: 5px;
    padding-right: 0;
    aside {
        h1 {
            margin-left: 6%;
        }
        h3 {
            font-style: italic;
            font-weight: lighter;
            font-family: 'Roboto Slab', sans-serif;
            font-size: 20px;
            margin-left: 6%;
            padding-bottom: 10px;
        }
        #logo {
            width: 60%;
            margin-left: 20%;
            margin-top: 10%;
        }
        p {
            color: white;
            font-size: 0.9em;
            letter-spacing: 0.05em;
            word-spacing: 0.1em;
            padding: 6%;
            padding-top: 0 !important;
            padding-right: 10%;
            padding-bottom: 0;
            font-weight: lighter;
            // padding-top: 30px;
        }
        ul {
            padding-left: 6%;
            // text-align: center;
            font-weight: bold;
            // letter-spacing: 0.09em;
            li {
                padding-bottom: 10px;
                padding-top: 10px;
                font-size: 1.2em;
                list-style-type: none;
                color: white;
                margin-left: 0;
                position: absolute;

                a {
                    color: white;
                }
                a:hover {
                    text-decoration: none !important;
                    color: white;
                    cursor: pointer;
                }
                .hover-menu {
                    width: 100%;
                    height: 10px;
                    background-color: rgb(255, 153, 0);
                    opacity: 0;
                    position: absolute;
                    // transform: translateY(-10px);
                    transform: translateY(-2px);
                    transition: all 0.4s;

                }
                .hover-now {
                    opacity: 0.8;
                    transform: translateY(-10px);

                }
            }
            li:hover {
            }
            #galerie {
            }
            #billets {
                margin-top: 40px;
            }
            #contacts {
                margin-top: 80px;
            }
        }
        #social-icons {
            // border: 1px solid pink;
            position: absolute;
            justify-content: space-between;
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            width: 100%;
            bottom: 20px;
            div {
                // border: 1px solid blue;
                min-width: 50px;
            }
        }
        #fb {
            background: url("../images/fb3.png") no-repeat;
            width: 50px;
            height: 50px;
            background-size: 100%;
            // border: 1px solid red;
            margin-left: 0px;
            // margin-top: 40px;
            background-position: 50% top;
            transition: background-position 0.2s;
            display: inline-block;
        }
        #fb:hover {
            background-position: 50% bottom;
        }
        #pinterest {
            background: url("../images/pinterest.png") no-repeat;
            display: inline-block;
            width: 50px;
            height: 50px;
            background-size: 100%;
            // border: 1px solid red;
            margin-left: 20px;
            // margin-top: 40px;
            background-position: 50% top;
            transition: background-position 0.2s;
        }
        #pinterest:hover {
            background-position: 50% bottom;
        }
        #blogger {
            background: url("../images/blogger.png") no-repeat;
            display: inline-block;
            width: 50px;
            height: 50px;
            background-size: 100%;
            // border: 1px solid red;
            margin-left: 20px;
            // margin-top: 40px;
            background-position: 50% top;
            transition: background-position 0.2s;
        }
        #blogger:hover {
            background-position: 50% bottom;
        }
    }
    section {
        // margin-left: 23%;
        // width: 76.4%;
        margin-left: calc(23% + 1px);
        min-height: 101vh;
        width: 76.5%;
        transform: translateY(-6px);
        // border: 1px solid black;

        .article-box {
            width: calc(50% - 6px);
            // height: 100%;
            // border-right: 5px solid $lightgray;
            // border-bottom: 1.1px solid $lightgray;
            border: 1px solid darken(#eee, 10%);
            margin-top: 6px;
            margin-left: 6px;
            cursor: pointer;
            float: left;
            background-color: white;
            // color: #585858;
            color: #727374;
            img {
                width: 100%;
            }
            .image-box {
                width: 94%;
                // border: 1px solid #eee;
                margin-left: 3%;
                margin-top: 3%;
            }
            .article-body {
                padding: 3%;
                // border: 1px solid blue;
                .controls {
                    width: 100%;
                    position: relative;
                    a {
                        text-decoration: none;
                        display: inline;
                    }
                    .date {
                        font-weight: lighter;
                        color: lighten(#727374, 10%);
                        display: inline;
                        position: absolute;
                        right: 0;
                    }
                }

            }
        }
        .first {
            margin-top: 0 !important;
        }
        .second {
            margin-top: 0 !important;
        }
    }
}


aside {
    background-color: $darkgray;
    color : white;
    border-bottom: 4px solid #e4e4e4;
    position: fixed;
    height: 99.2vh;
    z-index: 10;
}

@media only screen and (min-width: 1000px) {
    aside {
        width: 23%;
    }
}
// ===================   T A B L E T T E S ( moins de 1000px ) ==========


@media only screen and (max-width: 1000px) and (min-width: 600px)  {
    aside {
        width: 7%;
        #hide-when-small {
            display: none;
        }
    }
    section {
        margin-left: 7% !important;
        width: 92.5% !important;
    }

}

// =================== M O B I L E S (moins de 530px) ===============

@media only screen and (max-width: 600px) {
    .display-block {
        display: block !important;
    }
    aside {
        width: 13%;
        #hide-when-small {
            display: none;
        }
        #toggle-widget {
            height: 40px;
            width: 40px;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: 10px;
            transition: transform 0.5s;
            .white-bar {
                height: 5px;
                background-color: white;
                // border-radius: 3px;
                //margin-top: 7px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                transition: background 0.2s;
                &::before, &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    height: 5px;
                    width: 100%;
                    // border-radius: 3px;
                    background-color: white;
                    transform: translateY(-12px);
                    transition: transform 0.5s;
                    transform-origin: 50% 50%;
                }
                &::after {
                    transform: translateY(12px);
                }
            }
            &:hover {
                .white-bar::before {
                  transform: translateY(-15px);
                }
                .white-bar::after {
                  transform: translateY(15px);
                }
            }
        }
        #toggle-widget.is-open {
            transform: rotate(180deg);
            .white-bar {
                background: transparent;
            }
            .white-bar::before {
                transform: translateY(0) rotate(45deg);
            }
            .white-bar::after {
                transform: translateY(0) rotate(-45deg);
            }
        }
    }
    // #toggle {
    //     height: 99.2vh;
    //     width: 23%;
    //     position: fixed;
    //     border-bottom: 4px solid #e4e4e4;
    //     background-color: $darkgray;
    //     color : white;
    // }
    section {
        margin-left: 13% !important;
        width: 86.5% !important;
    }
    .image-box {
        width: 94% !important;
    }
    #social-icons {
        justify-content: initial !important;
    }

}
