@import "var";


@font-face {
    font-family: brushsci;
    src: url(../fonts/brushsci.ttf);
}

body {
    font-family: 'Lato', sans-serif;
    background-color: $lightgray;
    padding: 5px;
    padding-right: 0;
    aside {
        height: 99.2vh;
        width: 23%;
        position: fixed;
        border-bottom: 4px solid #e4e4e4;
        background-color: $darkgray;
        color : white;
        h1 {
            margin-left: 6%;
        }
        h3 {
            font-style: italic;
            font-weight: lighter;
            font-family: 'Roboto Slab', sans-serif;
            font-size: 20px;
            margin-left: 6%;
            padding-bottom: 10px;
        }
        #logo {
            width: 60%;
            margin-left: 20%;
            margin-top: 10%;
        }
        p {
            color: white;
            font-size: 0.9em;
            letter-spacing: 0.05em;
            word-spacing: 0.1em;
            padding: 6%;
            padding-top: 0 !important;
            padding-right: 10%;
            padding-bottom: 0;
            font-weight: lighter;
            // padding-top: 30px;
        }
        ul {
            padding-left: 6%;
            // text-align: center;
            font-weight: bold;
            // letter-spacing: 0.09em;
            li {
                padding-bottom: 10px;
                padding-top: 10px;
                font-size: 1.2em;
                list-style-type: none;
                color: white;
                margin-left: 0;
                // border: 1px solid orange;

                a {
                    color: white;
                }
                a:hover {
                    text-decoration: none !important;
                    color: white;
                    cursor: pointer;
                }
            }
            li:hover {
            }
            #galerie {
                // border-top: $borderNav;
            }
            #billets {
                // border-top: $borderNav;
            }
            #contacts {
                // border-top: $borderNav;
                // border-bottom: $borderNav;
            }
        }
        #fb {
            background: url("../images/fb3.png") no-repeat;
            width: 50px;
            height: 50px;
            background-size: 100%;
            // border: 1px solid red;
            margin-left: 0px;
            margin-top: 40px;
            background-position: 50% top;
            transition: background-position 0.2s;
            display: inline-block;
        }
        #fb:hover {
            background-position: 50% bottom;
        }
        #pinterest {
            background: url("../images/pinterest.png") no-repeat;
            display: inline-block;
            width: 50px;
            height: 50px;
            background-size: 100%;
            // border: 1px solid red;
            margin-left: 20px;
            margin-top: 40px;
            background-position: 50% top;
            transition: background-position 0.2s;
        }
        #pinterest:hover {
            background-position: 50% bottom;
        }
        #blogger {
            background: url("../images/blogger.png") no-repeat;
            display: inline-block;
            width: 50px;
            height: 50px;
            background-size: 100%;
            // border: 1px solid red;
            margin-left: 20px;
            margin-top: 40px;
            background-position: 50% top;
            transition: background-position 0.2s;
        }
        #blogger:hover {
            background-position: 50% bottom;
        }
    }
    section {
        // margin-left: 23%;
        // width: 76.4%;
        margin-left: 23.5%;
        width: 76.5%;
        transform: translateY(-4.5px);
        // border: 1px solid black;

        .article-box {
            width: 50%;
            border-right: 5px solid $lightgray;
            border-bottom: 1.1px solid $lightgray;
            margin-top: 5px;
            // margin-left: -1px;
            // padding-left: 6px;
            cursor: pointer;
            float: left;
            background-color: white;
            // color: #585858;
            color: #727374;
            img {
                width: 100%;
            }
            .image-box {
                width: 94%;
                // border: 1px solid red;
                margin-left: 3%;
                margin-top: 3%;
            }
            .article-body {
                padding: 3%;
                // border: 1px solid blue;
            }
        }
        .first {
            margin-top: 0 !important;
        }
        .second {
            margin-top: 0 !important;
        }
    }
}
