extends layout
block style
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/admin_contacts.css')

block content
    div#barre
        ul
            li.icone-admin(id="door-icon-li")
                img(src="../images/door.png" id="door-icon")
            li.icone-admin.canvas-icon-li
                a(href='/admin')
                    img(src="../images/canvas.png" id="canvas-icon")
            li.icone-admin.pen-icon-li
                a(href='/admin/publications')
                    img(src="../images/edit-2.png" id="pen-icon")
            li.icone-admin#letter-icon-li
                img(src="../images/contact.png" id="letter-icon")


    div#messageContainer
        if messages.length != 0
            each message in messages
                div.messageBlock
                    h5
                        span.courriel #{message.courriel}
                        span.separator /
                        span.date #{message.date.toLocaleDateString()}
                    hr
                    p   #{message.body}
                    span.supprimer
                        a(href='/admin/messages/delete/' + message._id) supprimer
        else
            div.no-message.text-center
                p Vous n'avez aucun message
