extends layout
block style
    link(rel='stylesheet', href='/css/publications.css')

block content

  div#bottom
  div#top

  aside
      div#toggle-widget.is-closed
       div.white-bar
      div#hide-when-small
        h1 Christian
            br
            | Louis
            br
            | Malto
        h3 Peintre


        p
            |Procedente igitur mox tempore cum adventicium nihil inveniretur,
            |relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt
            |ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.


        ul
            li#galerie
                a(href="/") Galerie
                    div.hover-menu
            li#billets
                a(href="/publications") Actualités
                    div.hover-menu
            li#contacts
                a(href="/contacts") Me contacter
                    div.hover-menu


        div#social-icons.text-center
            div#fb
            div#pinterest
            div#blogger            



  section#masonry
     div.article-box
        div.article-body
            h4 Nouvelle exposition à Trifouilli-Lès-Oie
            hr
            p
                | Plusieurs variations de Lorem Ipsum peuvent être trouvées
                | ci ou là, mais la majeure partie d’entre elles a été altérée par
                | l’addition d’humour ou de mots aléatoires qui ne ressemblent
                | pas une seconde à du texte standard. Si vous voulez utiliser un
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                |  praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                | similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore..
            div lire la suite


     div.article-box
        div.image-box
            img(id="logo" src="images/Pq13wQuW4f2NxiL5LVUZ.jpg")
        div.article-body
            h4 Hôtesse de l'air
            hr
            p
              | Plusieurs variations de Lorem Ipsum peuvent être trouvées
              | ci ou là, mais la majeure partie d’entre elles a été altérée par
              | mais la majeure partie d’entre elles a été altérée par
              | l’addition d’humour ou de mots aléatoires qui ne
              | Lorem Ipsum sur Internet tendent à reproduire le même extrait sans
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              | totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
              | ce qui fait de lipsum.com le seul vrai générateur de Lorem Ipsum...
            div lire la suite


     div.article-box
        div.article-body
            h4 Une nouveauté pour l'arrivée de l'automne
            hr
            p
                | Plusieurs variations de Lorem Ipsum peuvent être trouvées
                | ci ou là, mais la majeure partie d’entre elles a été altérée par
                | l’addition d’humour ou de mots aléatoires qui ne ressemblent
                | pas une seconde à du texte standard. Si vous voulez utiliser un
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                |  praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                | similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore.
            div lire la suite


     - var colors = ['#769EC6', '#769EC6', '#769EC6']
     - var index = 0
     each article in articles
       div.article-container
          div.article-box
            if article.cover
                div.image-box
                    img(id="logo" src='uploads/' + article.cover)
            div.article-body
                h4 #{article.title}
                hr
                p  #{article.body}...
                div.controls
                    a(href='/publications/' + article._id, style="color:" + colors[index] + ' !important') lire la suite
                    span.date #{article.addDate.toLocaleDateString()}
                if index == 2
                    - index = 0
                else
                    - index = index + 1



block script
    script(src="javascripts/togglebar.js")
    script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
    script(src="javascripts/masonry-publications.js")
    script(src="javascripts/hoverMenu.js")
