extends layout
block style
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/contacts.css')


block content

  div#bottom
  div#top

  aside
     h1 Christian
       br
       | Louis
       br
       | Malto
     h3 Peintre


     p
       |Procedente igitur mox tempore cum adventicium nihil inveniretur,
       |relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt
       |ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.


     ul
       li#galerie
            a(href="/") Galerie
                div.hover-menu
       li#billets
            a(href="/publications") Actualité
                div.hover-menu
       li#contacts
            a(href="/contacts") Me contacter
                div.hover-menu


     div#social-icons.text-center
        div#fb
        div#pinterest
        div#blogger



  div#rightSection
        div.col-sm-12.text-center
            h4 Remplissez ce formulaire pour m'envoyer un message
        div.col-sm-10.col-sm-offset-1
            form(method='POST' action='')
                div.form-group
                    input.form-control(type='text', name='courriel', placeholder='Courriel')
                div.form-group
                    input.form-control(type="text", placeholder='Confirmez votre courriel')
                div.form-group
                    textarea.form-control(type="text" name='message' placeholder='Votre message')
                div.form-group
                button.btn(type='submit') Envoyer











block script
    script(src="javascripts/hoverMenu.js")
