extends layout
block style
    link(rel='stylesheet', href='/css/index.css')

block content

  div#modal-dark
  div#modal-image
    img(id="modal" src="")

  aside
    img(id="logo" src="images/chris.png")
    p
      |Procedente igitur mox tempore cum adventicium nihil inveniretur,
      |relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt
      |ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.

    ul
      li#galerie Galerie
      li#billets Billets
      li#contacts Contacts

      div#fb
      div#pinterest
      div#blogger


  section#masonry
      div(class="image-box first")
          img(id="one" src="images/hotesse.jpg" onclick="modalOn(this)")
      div(class="image-box second")
          img(src="images/cigarette.jpg" onclick="modalOn(this)")
      div.image-box
          img(src="images/turban.jpg" onclick="modalOn(this)")
      div.image-box
          img(src="images/cannes.jpg" onclick="modalOn(this)")
      div.image-box
          img(src="images/hivers.jpg" onclick="modalOn(this)")
      div.image-box
          img(src="images/rose.jpg" onclick="modalOn(this)")
      div.image-box
          img(src="images/cocktail.jpg" onclick="modalOn(this)")
      div.image-box
          img(src="images/retro.jpg" onclick="modalOn(this)")
      div.image-box
          img(src="images/fleurs.jpg" onclick="modalOn(this)")
      div.image-box
          img(src="images/plage.jpg" onclick="modalOn(this)")


block script
  script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
  script(src="javascripts/index.js")
