extends layout

block style
    link(rel='stylesheet', href='/css/login.css')

block content
    div.container-fluid
        div.row
            div.col-sm-8.col-sm-offset-2
                form(method='post')
                    div #{username}
                    div #{password}
                    div.form-group
                        input.form-control(type='text', name='username', placeholder='Identifiant')
                    div.form-group
                        input.form-control(type='password', name='password', placeholder='Mot de passe')
                    div.form-group
                        button.btn(type='submit') Envoyer
