extends layout
block style
    link(rel="stylesheet" href="/css/articleForm.css")

block content

    if article
        - body = article.body
    else
        - body = ""

    div.container
        div.row
            if titre
                div.col-sm-12
                    div.alert.alert-success #{titre}, #{corps}, #{filename}
            div.col-sm-12
                form(method='POST', action='/admin/nouvel-article', enctype='multipart/form-data')
                    div.form-group
                        label(for='titre') Titre :
                        input.form-control(type='text', name='titre', placeholder='Titre')
                    div.form-group
                        label(for='corps') Contenu :
                        textarea.form-control.tinymce(name='corps', placeholder='Corps' rows="10" cols="60") #{body}
                    div.form-group
                        label(for='tableau') Associer un tableau :
                        input.form-control(type='file', name='tableau')    
                    div.form-group
                        label(for='titre-tableau') Titre du tableau
                        input.form-control(type="text" name="titreTableau" placeholder="Titre du tableau")
                    div.form-group
                        label(for='technique-tableau') Technique / dimensions
                        input.form-control(type="text" name="techniqueTableau" placeholder="technique / dimensions")

                    div.form-group
                        label(for="illustration") Ajouter un image de couverture
                        input.form-control(type='file' name='illustration')
                    div.button-group
                        button.btn.btn-primary(id="cancel-button") Annuler
                        button.btn.btn-primary(type='submit',id='button') Enregistrer
                    input(name="image", type="file", id="upload", onchange="",class="hidden")



block script
    script(src="https://cloud.tinymce.com/stable/tinymce.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.6.4/jquery.tinymce.min.js")
    script(src= path + "/javascripts/init-tinymce.js")
